@font-face {
  font-family: hanken-grotesk;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  font-family: hanken-grotesk, sans-serif;
}

.main-section {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  padding-bottom: 2rem;
  border-radius: 0 0 2em 2em;
}

.result-header {
  color: hsl(241, 100%, 89%);
  padding: 1em 0;
}

.result-circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  padding: 1.8em 0 0.5em 0;
  margin: 0 auto;
}

.actual-result {
  color: hsl(0, 0%, 100%);
  font-size: 3.5rem;
  font-weight: bolder;
}

.possible-result {
  color: hsl(241, 100%, 89%);
}

.result-comment {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1.5rem;
}

.result-additional-info {
  color: hsl(241, 100%, 89%);
  width: 70%;
  margin: 0 auto;
}

.summary-section {
  padding: 0 1.5em;
}

.summary-header {
  font-weight: bolder;
  margin: 1em 0;
  font-size: 1.2em;
}

.reaction-container {
  display: flex;
  width: 100%;
  background-color: hsla(0, 100%, 67%, 0.07);
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}

.memory-container {
  display: flex;
  width: 100%;
  background-color: hsla(39, 100%, 56%, 0.07);
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}

.verbal-container {
  display: flex;
  width: 100%;
  background-color: hsla(166, 100%, 37%, 0.07);
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}

.visual-container {
  display: flex;
  width: 100%;
  background-color: hsla(234, 85%, 45%, 0.07);
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}

strong {
  color: black;
}

.reaction-container span:first-of-type {
  margin-left: 0.8em;
  flex-grow: 2;
  color: hsl(0, 100%, 67%);
}

.reaction-container span:last-of-type {
  color: hsl(241, 100%, 89%);
}

.memory-container span:first-of-type {
  margin-left: 0.8em;
  flex-grow: 2;
  color: hsl(39, 100%, 56%);
}

.memory-container span:last-of-type {
  color: hsl(241, 100%, 89%);
}

.verbal-container span:first-of-type {
  margin-left: 0.8em;
  flex-grow: 2;
  color: hsl(166, 100%, 37%);
}

.verbal-container span:last-of-type {
  color: hsl(241, 100%, 89%);
}

.visual-container span:first-of-type {
  margin-left: 0.8em;
  flex-grow: 2;
  color: hsl(234, 85%, 45%);
}

.visual-container span:last-of-type {
  color: hsl(241, 100%, 89%);
}

.continue-button {
  width: 100%;
  padding: 1em 0;
  color: hsl(0, 0%, 100%);
  border-radius: 2em;
  border: none;
  background-color: hsl(224, 30%, 27%);
  font-size: 1.2em;
  margin: 1em 0;
}

.continue-button:active {
  cursor: pointer;
  background-color: hsl(241, 81%, 54%);
}

.attribution {
  margin-top: auto;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  body {
    background-color: hsl(221, 100%, 96%);
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  main {
    display: flex;
    background-color: white;
    border-radius: 2em;
    margin-top: auto;
  }

  .main-section {
    width: 50%;
    border-radius: 2em;
    max-height: none;
    flex-grow: 2;
  }

  .summary-section {
    width: 50%;
  }
}
